/*=== Variables ===*/
:root {
  --text-color: #FFFFFF;
  --text-dark-color: #202020;
  --header-height: 100px;
  --burger-width: 40px;
  --font-headings: Georgia, serif;

  --bcg-green: #ebebeb;
  --bcg-lightgreen: #a6b3b3;
  --bcg-lightbrown: #b0a7a4;
  --bcg-lightblue: #a3abb1;

  --bcg-fill-color: var(--bcg-green);

  --loader-width: 27.36vw;
  --loader-height: 50vh;

  --v-spacing: 10vh;
  --h-gutter: 6.6vw;

  --easing: cubic-bezier(0.5, 0.7, 0.4, 1);
}
